<p><button {{action 'markUnread'}}>Mark Unread</button></p>
<p><button {{action 'nextStory'}}>Next</button></p>
<p><button {{action 'prevStory'}}>Prev</button></p>
<p><button {{action 'toggleShowInIframe'}}>Preview</button></p>
