<span style="display: inline;">
  <p><button {{action 'markUnread'}}>Mark Unread</button></p>
  <p><button {{action 'toggleShowInIframe'}}>Preview</button></p>
  <p>
    <button {{action 'nextStory'}}>Next</button>
    <button {{action 'prevStory'}}>Prev</button>
  </p>
</span>
