<div class='row'>
  <div class='col-md-1'>
  </div>
  <div class='col-md-1'>
    {{#if read}}
    <button class='fill-all' {{action 'toggleRead'}}>●</button>
    {{else}}
    <button class='fill-all' {{action 'toggleRead'}}>○</button>
    {{/if}}
  </div>

  <div class='col-md-2'>
    <button class='fill-all' {{action 'toggleShowInIframe'}}>Preview</button>
  </div>
</span>
