$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 2em;

  img.favicon {
    width: 16px;
    height: 16px;
  }

  ul.no-bullet {
    list-style-type: none;
  }

  iframe {
    height: 100%;
    min-height: 700px;
    width: 100%;
  }

  .no-show-link {
    a {
      color: black;
    }
  }

  button.story-length {
    height: 700px;
    width: 100%;
  }

  button.fill-all {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
  }

  div.no-edge {
    width: 4%;
    padding: 0px;
  }

  div.hidden {
    display: none
  }

  div.story-summary {
    font-size: 0.65em;
    margin: 0.1em 0 0.7em 0;
  }

  div.story-summary-info {
    font-size: 0.6em;
    font-weight: bold;
    margin: 0.2em 0 0.5em 0;
  }

  li.focused {
    font-size: 1.35em;
  }
}
