# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# logs
/log

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
tags

# keys
secrets.yml

# dev db
*.db
score_recompute.out
