<div class="container-fluid">
  <div class="row">
    {{#if showReadStories}}
      {{#each story in model}}
        {{partial 'stories/story-small'}}
      {{/each}}
    {{else}}
      {{#each story in unreadStories}}
        {{partial 'stories/story-small'}}
      {{/each}}
    {{/if}}
  </div>
  <div class="row">
    <button {{action loadNextPage}}>Next</button>
  </div>
</div>
