<div class="container-fluid">
  <div class="hidden">
    {{storiesLeft}}
  </div>
  <div class="row">
    <ul class="no-bullet">
      {{#each story in filteredContent}}
        {{render 'story' story}}
      {{/each}}
    </ul>
  </div>
  <div class="row">
    {{page-numbers content=content}}
  </div>
</div>
