<div class="container-fluid">
  <div class="row">
    <h2>{{name}}</h2>
    {{input type="checkbox" name="enableTimeDecay" checked=time_decay}}
  </div>
  <div class="row">
    <button {{action 'save'}}>Save</button>
  </div>
</div>
