<input id="add_feed"/>
<button {{action 'add_feed'}}>Add feed</button>
<div>{{#link-to 'stories.index'}}All Stories{{/link-to}}</div>
<div><h3>Feeds</h3></div>
<ul>
  {{#each}}
  <li>
  {{#link-to 'feeds.stories' id}}{{name}} ({{unread_count}}){{/link-to}}
  </li>
  {{/each}}
</ul>
