{{#link-to 'feeds'}}All Feeds{{/link-to}}
<h3>{{name}}</h3>
<a target="_blank" {{bind-attr href="feed_url"}}>{{feed_url}}</a>
<h4>Stories</h4>
<ul>
{{#each stories}}
  <li>
    {{title}}
  </li>
{{/each}}
</ul>
