{{ember-notify messageStyle='bootstrap'}}
<h2 id='title' class='no-show-link'>{{#link-to 'feeds.all' (query-params page="0")}}BSB{{/link-to}}</h2>
{{#if loggedIn}}
  {{#if guest}}
    <p>
      Thanks for logging in... Guests can't really do anything special though, so you may as
      well just <a href="/logout">logout</a>
    </p>
  {{/if}}
{{else}}
  <a class="btn btn-social btn-github" href="/login">
    <i class="fa fa-github"></i> Login with Github
  </a>
  <br>
  <br>
{{/if}}

{{#unless linkedToPocket}}
  <a class="btn btn-social btn-foursquare" href="/pocket_login">
    <i class="fa fa-github"></i>Link to Pocket
  </a>
{{/unless}}

{{outlet}}
