<div class="loader">
  <h3>Loading the news!</h3>
  <span class="loading-cat"></span>
  <p class="loading-attribution">
    (<a href="https://dribbble.com/shots/1168363-calming-cat-GIF">calming cat</a>
    by
    <a href="http://vimeo.com/bogner">Thomas Bogner</a>)
  </p>
</div>
